---
import type { DetailLink, DetailsType } from "../types";
import Details from "./Details.astro";
interface Props {
  details: DetailsType;
}

const { title, contents, isOpen = false } = Astro.props.details;

export function instanceOfDetailsType(data: any): data is DetailsType {
  return typeof data !== "string" && "contents" in data;
}

export function instanceOfDetailLink(data: any): data is DetailLink {
  return typeof data !== "string" && "url" in data;
}
---

<details open={isOpen}>
  <summary>{title}</summary>
  <ul>
    {
      contents.map((content) => {
        if (instanceOfDetailsType(content)) {
          return (
            <li>
              <Details details={content} />
            </li>
          );
        } else if (instanceOfDetailLink(content)) {
          return (
            <li>
              <a class={content.isNew? 'new':''} href={content.url}>{content.title}</a>
            </li>
          );
        }
        return <li>{content}</li>;
      })
    }
  </ul>
</details>
<style>
  .new{
    color: red;
  }
</style>